#pcct-empty-ct {
	color:     #c71713;
	font-size: 14px;
	margin:    30px 0;
}

.pcct-social-icons {
	clear: both;
}

div.pcct-social-icons a.button {
	vertical-align: 12px;
}

.pcct-del-btn {
	color:      #c00 !important;
	margin-top: 10px !important;
}

.pcct-textarea {
	width:       100%;
	font-family: Courier New;
}

input.pcct-shortcode {
	font-family: Courier New;
}

.pcct-box1 {
	background: #eee;
	border:     1px dashed #ccc;
	font-size:  13px;
	margin:     0 0 10px 0;
	padding:    5px 0 5px 8px;
}

#pcct-added-new {
	margin-bottom: 0;
}

/* -------------------------------------------------------------------------------- */

/*
 * Create Content Template Button
*/
.pcct-spinner {
	text-align: right;
}

.pcct-spinner input {
	margin-right: 10px !important;
}

/* -------------------------------------------------------------------------------- */

/*
 * Spinner
*/
.spinner {
	float: initial;
}

/* -------------------------------------------------------------------------------- */

/*
 * Delete content template button
*/

.pcct-del-icon {
	color: #d54e21;
	cursor: pointer;
	opacity: 0;
	color: #d54e21;
	vertical-align: middle;
	margin-left: 1px;
}

#pcct-ct-table th:hover .pcct-del-icon {
	opacity: 1;
}